.gocache/
.gomodcache/
.cache/
.idea/
*.exe
*.exe~
go-github-actions-demo
go.work
go.work.sum
advance/
eino/
experiments/
gin/
gorm/
grpc/
kafka/
notification-platform/
rabbitmq/
redis/
todos-rest-api-with-auth/
main.go
main_test.go
test.rest
.editorconfig
.typos.toml
.git/
.github/
.DS_Store
*.md
