DATABASE_URL="postgres://postgres:postgres@localhost:5432/todo_db"
PORT=8080
JWT_SECRET="change-me"
REDIS_URL="localhost:6379"

ALIBABA_CLOUD_ACCESS_KEY_ID="your-access-key-id"
ALIBABA_CLOUD_ACCESS_KEY_SECRET="your-access-key-secret"
